<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Posts</title>
</head>

<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>
  <br>
  <ul>
    <% for (let post of posts) { %>
    <li>
      <div> Email: <%= post.email %> </div>
      <div> Title: <%= post.title %> </div>
      <div> Description: <%= post.description %> </div>
      <br>
    </li>
    <% } %>
  </ul>
</body>

</html>