<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Submit Post</title>
</head>

<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>
  <br>
  <form class="form-inline" action="/posts" method="POST">
    <div class="form-group mb-2">
      <label>Submit a Post:</label>
      <input class="form-control" type="email" name="email" placeholder="Email" style="width: 300px; margin: 1em"
        required>
      <input class="form-control" type="text" name="title" placeholder="Title" style="width: 300px; margin: 1em"
        required>
      <input class="form-control" type="text" name="description" placeholder="Description"
        style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</body>

</html>